<div class="artwork">
  <p id="art-tag-para"> Art inspired by <%= @booking.experience.address %></p>
  <%= link_to image_tag(@art_info[3], width: 300), @art_info[4]%>
  <p><strong><%= @art_info[0] %></strong></p>
  <p><%= @art_info[2] %></p>
  <%= @art_info[1] %>
</div>
