<div class="container">
  <br>
  <h1>Welcome to <%= @booking.experience.address %></h1>
  <hr>
  <div class="row">
    <div class="col-md-2 mb-3">
      <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="welcome-tab" data-toggle="tab" href="#welcome" role="tab" aria-controls="home" aria-selected="true">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="supplies-tab" data-toggle="tab" href="#supplies" role="tab" aria-controls="profile" aria-selected="false">Supplies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="learn-more-tab" data-toggle="tab" href="#learn_more" role="tab" aria-controls="requests" aria-selected="false">Learn More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact Your Host</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="share-tab" data-toggle="tab" href="#share" role="tab" aria-controls="share" aria-selected="false">Share your Booking</a>
        </li>
      </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="welcome" role="tabpanel" aria-labelledby="-tab">
          <p>Get ready for adventure!  And you don't even have to leave your
            house!  You are <%= @booking.experience.name %> with <%= @booking.experience.host.name %>.
            All the information you need for a fantastic night in is on this page. </p>
        </div>

        <div class="tab-pane fade" id="supplies" role="tabpanel" aria-labelledby="requests-tab">
          <ul>
            <% @booking.experience.items.each do |item| %>
              <li><%= item.name %></li>
            <% end %>
          </ul>
        </div>


        <div class="tab-pane fade" id="learn_more" role="tabpanel" aria-labelledby="profile-tab">

        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="rqr-code">
            <p>For any inqueries - Ask the host:</p>
            <%= @svg.html_safe %>
          </div>
        </div>

        <div class="tab-pane fade" id="share" role="tabpanel" aria-labelledby="share-tab">
          <%= simple_form_for [@booking, @guest_booking] do |f| %>
            <%= f.association :user, :collection =>  User.where.not(id: current_user.id) %>
            <%= f.submit %>
          <% end %>




          <% @guest_bookings.each do |guest_booking| %>
          <% if guest_booking.user.id == current_user.id %>
            <%= guest_booking.user.email %>
            <% end %>
          <% end %>
        </div>
        <br>
      </div>
    </div>
    <!-- /.col-md-8 -->
  </div>
</div>
