<div class="container">
  <br>
  <h1>Welcome to <strong> <%= @booking.experience.address %></strong></h1>
  <hr>
  <div class="main-para">
    <p>Get ready for an adventure! And you don't even have to leave your
        house! You are about to enjoy a <%= @booking.experience.name %> experience with <%= @booking.experience.host.name %>.
        All the information you need for a fantastic night in is on this page. </p>
  </div>
    <div class="supplies">
      <h2> Everything you'll need: </h2>
      <ul>
        <% @booking.experience.items.each do |item| %>
          <li> ✦ <%= item.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="show-booking-display-flex">
      <%= render "museum" %>
      <%= render "spotify" %>
      <div class="rqr-code">
        <p> Any questions? Why don't you ask the host: <a href="https://wa.me/+447470043682">Link to WhatsApp</a></p>
        <%= @svg.html_safe %>

      </div>
    </div>
        <div class="share-booking">
          <%= simple_form_for [@booking, @guest_booking] do |f| %>
            <%= f.association :user, label: "Add friend", :collection =>  User.where.not(id: current_user.id)%>
            <%= f.submit 'Send invite' %>
          <% end %>
        </div>
    <br>
</div>
