<div>
  <% @experiences.each do |experience| %>
    <% experience.bookings.each do |booking| %>
      <div class="card-request d-flex align-items-center m-3">
        <div class="d-flex justify-content-start align-items-center">
          <% if booking.experience.photos.attached? %>
            <%= cl_image_tag booking.experience.photos[0].key, width: 200, height: 150, crop: :fill, class: "booking-image" %>
          <% else %>
            <%= image_tag 'https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=150&w=200', class: "booking-image" %>
          <% end %>
            <div class="p-3">
              <% if booking.confirmation == "Pending" %>
                <div class="request-title">
                  <h4 style="margin-bottom:0"><%= experience.name %></h4>
                </div>
                <div class="confirm-request p-3">
                  <button type="button" class="btn btn-success" id="accept-button"><%= link_to "Accept ✅", accept_experience_booking_path(experience_id: experience.id, booking_id: booking.id), method: :patch %></button>
                  <button type="button" class="btn btn-danger" id="reject-button"><%= link_to "Reject 🚫", reject_experience_booking_path(experience_id: experience.id, booking_id: booking.id), method: :patch %></button>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

