<div class="cards-listing">
  <% @experiences.each do |experience| %>
      <div class="card-listing">
        <%= link_to experience_path(experience) do %>
          <% if experience.photos.attached? %>
            <div class="card_image_listing"><%= cl_image_tag experience.photos[0].key, width: 275, height: 160, crop: :fill %></div>
          <% else %>
            <div class="card-image_listing"><%= image_tag 'https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %></div>
          <% end %>
        <div class="card-listing-infos">
            <h2> <%= experience.name %> </h2>
            <h2 class="card-price-listing"> £<%= experience.price %> </h2>
        </div>
            <div class="para-list">
              <% if experience.host_id == current_user.id %>
                <%= link_to edit_experience_path(experience) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to "Delete", experience_path(experience), method: :delete, id: "sweet-alert-#{experience.id}-delete", class: "hidden d-none" %>
                <button id="<%= "sweet-alert-#{experience.id}" %>" class="btn btn-danger sweetalert"> <i class="fa fa-trash"></i> </button>

              <% end %>
            </div>
      <% end %>
      </div>
  <% end %>
  <%= link_to new_experience_path do %>
  <div class="card-listing">
    <div class="card-image_listing" id="icon-listing-ex"> <i class="fas fa-plus-square"></i>
  </div>
    <div class="card-listing-infos">
          <h2> Add a new listing </h2>
      </div>
  </div>
  <% end %>
</div>
