
<div class = "form-div">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 " id="form-color">
        <div class="form-login">
          <%= simple_form_for @user do |f|%>
            <%= f.input :name, label: "Name" %>
            <%= f.input :bio, label: "About me" %>
            <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
            <br>
            <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input-a'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo'  %>
            <%= f.button :submit, class: "btn-submit-form" %>
          <% end %>
        </div>
      </div>
    </div>
  <br>
</div>


