<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Hello <%= @user.name %></h5>
    <p class="card-text"><strong>About me:</strong>  <%= @user.bio %></p>
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn" %>
    <% end %>
  </div>
</div>


<div class="container">
  <h2>Your bookings</h2>
  <% @bookings.each do |booking| %>
    <%= booking.id %> - <%= booking.experience.name %>
  <% end %>
</div>
<br>
<div class="container">
  <h2>Your listing:</h2>
  <%= render 'experiences/cards' %>
</div>



<%# @experiences.each do |experience| %>
    <%#= experience.name %>
  <%# end %>
