<div class="nav-bar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="nav-links" id="navbarSupportedContent">
    <ul class="navbar-links-list d-flex justify-content-center">
        <li class="nav-item">
          <%= link_to "Experiences", experiences_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", root_path(anchor: "category-cards"), class: "nav-link" %>
        </li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <% if current_user.photo.attached? %>
      <%= cl_image_tag(current_user.photo.key, width: 40, height: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
    <% else %>
      <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%=asset_path('profile.jpg')%>" />
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
      <%= link_to "Become a host", new_experience_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <p class="avatar">
      <%= link_to "Login", new_user_session_path %>
    </p>
  <% end %>
</div>
