<div class="container-fluid">
<%# content_tag(:div, class: "container-fluid", id: dom_id(@experience) ) %>
  <div class="overview row justify-content-between m-0">
    <div class="overview-details col-12 col-md-6 col-lg-5 px-5 pt-5">
      <% if current_user == @experience.host %>
        <h1><%= @experience.name %><%= render "edit"%></h1>
      <% else %>
        <h1><%= @experience.name %></h1>
      <% end %>
      <p>Hosted by: <%= @experience.host.name %> </p>
      <% if Favorite.where(experience: @experience, customer: current_user).exists? %>
          <%= link_to experience_favorite_path(@experience), method: :delete do %>
            <i class="fas fa-heart"></i><p>Favorited!</p>
          <% end %>
      <% else %>
        <%= link_to experience_favorites_path(@experience), method: :post do %>
          <i class="far fa-heart"></i><p>Save to favorites</p>
        <% end %>
      <% end %>
      <% if @experience.reviews.count > 0 %>
        <p ><%= render "rating" , experience: @experience %>(<%= @experience.reviews.count %>) </p>
      <% else %>
        <p>no ratings yet</p>
      <% end %>
      <p><%= @experience.tagline %></p>
      <div class="overview-details-icons d-flex">
        <p><i class="far fa-clock"></i> <%= @experience.duration %>hours</p>
        <p><i class="fas fa-users"></i> <%= @experience.max_guests %> people</p>
        <p><i class="fas fa-tags"></i> £ <%= @experience.price %></p>
      </div>
    </div>
    <div class="overview-carousel col-12 col-md-6 col-lg-7 pr-md-5">
      <%= render "shared/carousel", experience: @experience %>
    </div>
  </div>

  <div class="navbar navbar-light bg-light justify-content-between pl-5">
    <div class="form-inline">
      <a class="class-page-menu_link" href="#details">ABOUT</a>
      <a class="class-page-menu_link" href="#supplies">SUPPLIES</a>
      <a class="class-page-menu_link" href="#reviews">REVIEWS</a>
      <a class="class-page-menu_link" href="#host">HOST</a>
    </div>
      <a href="#booking">
        <button class="btn btn-primary float-right" type="button">BOOK</button>
      </a>
  </div>

  <div class="main-info row p-5">
    <div class="main-info-title col-12 col-md-4" id="details">
      <h3>All the details</h3>
    </div>
    <div class="main-info-content col-12 col-md-8">
      <p><%= @experience.description %></p>
    </div>
  </div>
  <div class="main-info row p-5">
    <div class="main-info-title col-12 col-md-4" id="supplies">
      <h3>What you'll need</h3>
    </div>
    <div class="main-info-content col-12 col-md-8">
      <% if current_user == @experience.host %>
        <%= render "items/form", experience: @experience, item: Item.new %>
      <% end %>
      <ul>
        <% @experience.items.each do |item| %>
          <% if current_user == @experience.host %>
            <li>
              <i class="fas fa-chevron-right"></i> <%= item.name %>
              <%= link_to item_path(item), method: :delete do %>
                <i class="fas fa-times"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <i class="fas fa-chevron-right"></i> <%= item.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="main-info row p-5">
    <div class="main-info-title col-12 col-md-4" id="reviews">
      <h3>Reviews</h3>
    </div>
    <div class="main-info-content col-12 col-md-8">
      <%= render "reviews" %>
    </div>
  </div>
  <div class="main-info row p-5">
    <div class="main-info-title col-12 col-md-4" id="host">
      <h3>About your host</h3>
    </div>
    <div class="main-info-content col-12 col-md-8 d-flex">
      <div class="align-self-center">
        <% if @experience.host.photo.attached? %>
          <%= cl_image_tag(@experience.host.photo.key, width: 100, height: 100, class: "avatar-large") %>
        <% else %>
          <img class="avatar-large" src="<%=asset_path('profile.jpg')%>" />
        <% end %>
      </div>
      <div class="pl-4">
        <h6><%= @experience.host.name %></h6>
        <p><%= @experience.host.bio %></p>
      </div>
    </div>
  </div>
  <div class="main-info row p-5">
    <div class="main-info-title col-12 col-md-4" id="booking">
      <h3>Book</h3>
    </div>
    <div class="main-info-content col-12 col-md-8">
      <div class="column-form">
        <%= render "bookings/form", experience: @experience, booking: @booking %>
      </div>
    </div>
  </div>
</div>




<!-- <div class="main-container">
  <div style="margin: auto">
    <%#= render "shared/carousel", experience: @experience %>
  </div>
  <div class="container">
    <div class="row">
      <div class="exp-card column-left">
        <div>
          <h4><%#= @experience.name %></h4>
          <p><%#= render "rating" , experience: @experience %></p>
          <p><%= @experience.description %></p>
        </div>
        <div class="border-bottom"></div>
        <div>
          <h4>Hosted by <%#= @experience.host.name %></h4>
          <p><i class="far fa-clock"></i> <%= @experience.duration %>h</p>
          <p><i class="fas fa-desktop"></i> Zoom meeting</p>
          <p><i class="fas fa-users"></i> <%= @experience.max_guests %></p>
        </div>
         <div class="border-bottom"></div>
        <div>
          <h4>Bring with you</h4>
          <% #@experience.items.each do |item| %>
          <%#= item.amount %> - <%#= item.name %>
          <% #end %>
        </div>
      </div>
      <div class="column-form">
        <%#= render "bookings/form", experience: @experience, booking: @booking %>
      </div>
    </div>
  </div>
  <div class="container reviews">
    <h2>Reviews</h2>
    <div class="review-box">
      <%#= render "reviews" %>
    </div>
  </div>
</div> -->

<!-- code for hours and minute for @experience.duration -->
<!-- .strftime(" %l h %M min") -->

<%#= render partial: 'items/index', locals: { items:Item.where(experience_id: params[:id])} %>
<!-- <h2> Experience listed in these categories: </h2> -->
<%# @experience.categories.each do |category| %>
  <!-- ⚡️ <%#= category.name %> -->
<%# end %>


